@model List<Dukawaremallweb.Models.Cart.Item>
<li class="nav-item">
    <a asp-action="Customercart" asp-controller="Customer" asp-area="" class="nav-link">
        <i class="fas fa-shopping-cart text-info"></i>
        <span class="badge badge-danger navbar-badge text-white">@(Model?.Count() ?? 0)</span>
    </a>
</li>